extends layout

body
    block content
        form(action='/generator', method='POST')
            div
                input(
                    type='text',
                    name='url'
                )
            input(
                class='ui-button ui-widget ui-corner-all',
                type='submit',
                value='Generate'
            )