extends layout
block styles
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
block content
    form(action='/generator', method='POST')
        div
            input(
            class='form-control',
            type='text',
            name='url',
            aria-describedby="inputGroup-sizing-default"
            )
        input(
        class='btn btn-primary',
        type='submit',
        value='Generate'
        )